.star-rating {
    display: inline-flex;
    gap: 5px;
}
  
.star {
    font-size: 40px;
    cursor: pointer;
    color: #ccc; /* Estrelas apagadas */
    transition: color 0.2s ease-in-out;
}

.star:hover,
.star.active {
  color: #f39c12; /* Estrelas destacadas */
}
