<!-- FOOTER  --> 
  <footer class="d-flex justify-content-center align-items-center" style="color: #F8F8F8; height: 100px; background-color: #E1ACAC;">
    <h3>Criado para fins educativos.</h3>
  </footer>
<!-- FOOTER  -->