<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #FFFFFF; border-bottom: solid black 1px ;">
        <div class="container-fluid">
          <a class="navbar-brand" href="logged.html"><img src="/public/images/careacademylogo.png" alt="" style="height: 60px;"></a>
          <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav me-auto mb-0">
              <li class="nav-item" style="width: 120px;">
                <a class="nav-link active text" aria-current="page" href="/" style="font-size: 18px; font-family: 'Roboto', sans-serif; font-weight: 700; color: black;">Quem somos</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link active text" aria-current="page" href="/cursos" style="font-size: 18px; font-family: 'Roboto', sans-serif; font-weight: 700; color: black;">Cursos disponíveis</a>
              </li>
            </ul>
            <div class="container d-flex align-items-center flex-column flex-lg-row justify-content-end">
              <form class="me-2 mb-2 mb-lg-0">
                <input type="text" class="form-control form-control-sm" placeholder="Pesquisar" style="border: solid black 1px;"/>
              </form>
              <div>
                <a href="/login"><button class="btn" type="button" style="border: solid black 1px;">Entrar</button></a>
                <a href="/registro"><button class="btn" type="button" style="border: solid black 1px;">Registre-se</button></a>
              </div>
            </div>
          </div>
        </div>
    </nav>
</header>