<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareAcademy | Início</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <%- include('./components/headerl.ejs')%>
    <div class="justify-content-center" style="border-bottom: solid black 1px">
        <!-- QUEM SOMOS -->
        <div class="container d-flex flex-row" style="height: 500px; margin: 7rem 3rem; border-bottom: solid black 1px;">
          <div class="container d-flex flex-column">
            <h2 class=""  style="color: #E1ACAC; font-size: 36px; font-family: 'Roboto', sans-serif; font-weight: 700;">Quem nós somos?</h2>
            <p class="text-start text-break" style="line-height: 2.0;">
              A Care Academy é uma associação beneficente de voluntários focada em promover o desenvolvimento profissional e a inclusão de minorias sociais no mercado de trabalho brasileiro. Nosso objetivo é capacitar pessoas em situações de vulnerabilidade (como indígenas, refugiados, pessoas com deficiência e de baixa renda), <br> oferecendo conhecimentos essenciais para o mercado atual. <br> Acreditamos que a educação é fundamental para transformação social e pessoal, e nossa missão é criar oportunidades para que todos possam prosperar social e profissionalmente
            </p>
          </div>
          <img src="/public/images/adultstudy.png" alt="" style="height: 400px; width: 500px; border-radius: 5px;">
        </div>
        <!-- QUEM SOMOS -->
    
        <!-- MISSÃO -->
        <div class="container d-flex flex-row" style="height: 300px; margin: 7rem 3rem; border-bottom: solid black 1px;">
          <div class="container d-flex flex-column align-items-center">
            <h2 class=""  style="color: #E1ACAC; font-size: 36px; font-family: 'Roboto', sans-serif; font-weight: 700;">Nossa missão</h2>
            <p class="text-start text-break" style="line-height: 2.0;">
                        Oferecer educação de qualidade e acessível para minorias socais, visando construir
              um mercado de trabalho mais justo e inclusivo com a disponibilização de cursos gratuitos
              focados em preparar todos os indivíduos para os mais diversos desafios de uma carreira
              profissional e ainda sim se destacarem em suas carreiras.
            </p>
          </div>
        </div>
        <!-- MISSÃO -->
    
        <!-- VALORES -->
        <div class="container d-flex flex-row" style="height: 500px; margin: 7rem 3rem;">
          <h2 class="me-5" style="color: #E1ACAC; font-size: 48px; font-family: 'Roboto', sans-serif; font-weight: 700;">Nossos valores</h2>
          <div class="mt-4">
            <ul style="list-style-type:none;">
              <li>
                <h3 style="color: #E1ACAC; font-weight: 700; font-size: 36px">Inclusão</h3>
                <p class="text-sm text-break lh-lg fw-normal" style="font-size: 18px">Acreditamos que todos merecem ter a oportunidade de alcançar e desenvolver o seu potencial, independentemente de sua origem, classe social ou identidade.</p>
              </li>
              <li>
                <h3 style="color: #E1ACAC; font-weight: 700; font-size: 36px">Qualidade</h3>
                <p class="text-sm text-break lh-lg fw-normal" style="font-size: 18px">Garantir a entrega de conteúdos realistas, atuais e relevantes de acordo com as demandas do mercado de trabalho.</p>
              </li>
              <li>
                <h3 style="color: #E1ACAC; font-weight: 700; font-size: 36px">Acessibilidade</h3>
                <p class="text-sm text-break lh-lg fw-normal" style="font-size: 18px">Garantir o acesso facilitado e gratuito de todos os nossos conteúdos para todos aqueles que tem interesse.</p>
              </li>
              <li>
                <h3 style="color: #E1ACAC; font-weight: 700; font-size: 36px">Apoio</h3>
                <p class="text-sm text-break lh-lg fw-normal" style="font-size: 18px">Colaborar com o auxilio dos alunos durante sua jornada de aprendizagem buscando sempre o desenvolvimento coletivo.</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- VALORES -->
    </div>
    <%- include('./components/footer.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>    
</body>
</html>